extends layout

block content
  div(class="flex gap-2")
    div(class="flex-1")
      h2.leading-6.font-medium.text-gray-900 Okta Profile
      p.text-sm.text-gray-500 The user profile information returned from Okta.
      pre(class="text-sm m-2")
        code(class="language-json")
          = JSON.stringify(user, null, 2)
    div(class="flex-1")
      h2.leading-6.font-medium.text-gray-900 Cerbos
      p.text-sm.text-gray-500 The authorization request to the Cerbos PDP.
      pre(class="text-sm m-2")
        code(class="language-json")
          = JSON.stringify(cerbosRequest, null, 2)      
      p.text-sm.text-gray-500 The authorization response from the Cerbos PDP.
      pre(class="text-sm m-2")
        code(class="language-json")
          = JSON.stringify(cerbosResponse, null, 2)                