extends layout

block content
  div(class="text-center")
    p This is an example project of using Okta for authentication and Cerbos to authorize access to contact resources in a demo CRM system.
    p.my-2 You can find the code for this on <a href="https://github.com/cerbos/express-okta-cerbos">Github</a> and more about Cerbos <a href="https://cerbos.dev">on our website</a>.
